* {
	margin: 0;
	position: absolute;
}

body {
	background: #111;
	width: 100vw;
	height: 100vh;
}

#canvas {
	width: 60vmin;
	height: 80vmin;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}

#lampBall {
	width: 50vmin;
	height: 50vmin;
	border: 2vmin solid #eee;
	border-radius: 50%;
	left: 50%;
	transform: translate(-50%);
}

#lampLower {
	width: 15vmin;
	height: 15vmin;
	border: 2vmin solid #eee;
	border-radius: 0 0 50% 50%;
	left: 50%;
	transform: translate(-50%);
	top: 55vmin;
}